// WIDTH ALL CONTAINERS
$width:1170px;
// COLORS
$extraLightBlue:#19e0fc;
$lightBlue: #00e1ff;
$blackBlue:#3f4244;
$blackHeader:#252726;
$grayBlue:#929ba0;
$gray:#cdced0;
$heavyGray:#c8cdce;
// FONT SIZE
$extraSmall:0.8125rem;
$small:0.9375rem;
$med:1.25rem;
$large:2.5rem;
$extraLarge:3.75rem;
// FONT FAMILY
$font:"Raleway";
// FONT WEIGHT
$extraLight:100;
$thin:200;
$light:300;
$regular:400;
$medium:500;